<form method="post" class="auth-form main">
  {% csrf_token %}
  <label for="current_password">Senha Atual</label>
  <input type="password" name="current_password" id="current_password" required>

  <label for="password">Nova Senha</label>
  <input type="password" name="password" id="password" minlength="8" required>

  <label for="password_confirm">Confirme a Nova Senha</label>
  <input type="password" name="password_confirm" id="password_confirm" minlength="8" required>

  <div class="profile-bottom">
    <button class="user-submit-btn" id="save-config-btn">Salvar Configurações</button>
  </div>
</form>
